@model List<QuizApplication.Domain.Question>
<div class="text-center">
    <h1 class="display-4">Pick a question:</h1>
    <a href="/Question/Index">Back</a>
</div>
<hr />

<div class="row">

    @{
        foreach(var question in @Model)
        {
            <a class="text-reset text-decoration-none" href="/Question/QuestionWithAnswers/@question.Id">
                <div class="col card m-1 p-5">
                    @question.QuestionString
                </div>
            </a>
        }
    }
</div>