@model QuestionViewModel
<div class="text-center">
    <h1>@Model.Question.QuestionString</h1>
    <a href="/Question/QuestionsInCategory/@Model.Question.CategoryId">Back</a>

</div>
<hr />
<div class="row">
    @{
        foreach (var a in Model.Question.Answers) 
        {
            if (a.IsCorrect) 
            {
                <a class="col col-sm-6 text-reset text-decoration-none" onclick="$(this).children()[0].style.backgroundColor='green';">
                    <div class="card p-5 text-center">
                        @a.AnswerText;
                    </div>
                </a>
            }
            else
            {
                <a class="col col-sm-6  text-reset text-decoration-none" onclick="$(this).children()[0].style.backgroundColor='red';">
                    <div class="card p-5 text-center">
                        @a.AnswerText;
                    </div>
                </a>
            }
        }
    }
</div>